{% extends 'teacher/dashboard/Parent.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-globe text-warning"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Course Time</p>
                                <p class="card-title">150 hrs
                                <p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-refresh"></i>
                        Update Now
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-money-coins text-success"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Students</p>
                                <p class="card-title">60 |32-B |28-G
                                <p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-bitbucket"></i>
                        Div-A
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-vector text-danger"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Semester</p>
                                <p class="card-title">4<sup>th</sup>
                                <p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-check"></i>
                        2 papers
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="icon-big text-center icon-warning">
                                <i class="nc-icon nc-favourite-28 text-primary"></i>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="numbers">
                                <p class="card-category">Todo</p>
                                <p class="card-title">2
                                <p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-refresh"></i>
                        2 - Assessments
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header ">
                    <h5 class="card-title">Notifications</h5>
                    <p class="card-category">last 24 hours</p>
                </div>
                <div class="card-body " style="font-size: 1rem;">
                    <ul>
                        <li>A new student has joined your class.</li>
                        <li>There is an upcoming staff meeting on Friday at 3 PM.</li>
                        <li>You have a new message from a parent regarding their child's progress.</li>
                        <li>The school is organizing a field trip next month, and you are in charge of organizing your class's attendance.</li>
                        <li>A student's grade has dropped significantly, and their parent has requested a meeting with you to discuss the matter.</li>
                        <li>You have a meeting scheduled with the principal next week to discuss your classroom management strategies.</li>
                        <li>The school is offering a professional development workshop next week on using technology in the classroom.</li>
                        <li>A student has requested a makeup test for the exam they missed last week due to illness.</li>
                        <li>The school's annual open house is coming up, and you are expected to participate in showcasing your classroom and students' work.</li>
                        <li>The school has announced a new policy regarding student behavior, and you are required to update your syllabus accordingly.</li>

                    </ul>
                </div>
                <div class="card-footer mb-2">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-history"></i> Updated 3 minutes ago
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}